@CHARSET "UTF-8";

html,body {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

footer {
	clear: both;
	text-align: center;
}

section#board_container {
	background-color: #FFFFE9;
	margin: 10px;
	padding: 0px;
	float: left;
}

div.column {
	position: relative;
	float: left;
	text-align: center;
	border-right: 2px dashed gray;
}

div.column.lastColumn {
	border: none;
}

ul {
	text-indent: 0;
	list-style-type: none;
	margin: 0;
	padding: 0 0 2.5em;
	float: left;
	margin-right: 10px;
	min-width: 210px;
	min-height: 100px;
}

li.userStory {
	position: relative;
	border: 1px solid black;
	width: 180px;
	min-height: 40px;
	margin: 0 5px 5px 5px;
	padding: 5px;
	background-color: white;
}

li.userStory:hover {
	cursor: pointer;
}

li.userStory.ui-sortable-helper {
	cursor: move;
}

.estimate {
	font-size: 20;
	font-weight: bold;
	float: right;
}

.story {
	text-align: left;
	font-size: 1.2em;
}

.storyNav {
	text-align: right;
	margin: 0;
	padding:0;
}

.storyNav a:link, .storyNav a:visited {
	text-decoration: none;
	color: blue;
}

.storyNav a:hover {
	text-decoration: underline;
}

li.userStoryPlaceholder {
	width: 180px;
	min-height: 100px;
	margin: 0 5px 5px 5px;
	padding: 5px;
	background-color: #BBDDFF;
	border: 1px dashed #3399FF;
}