<?php
define("MYSQLI_SERVER", "sprintboard");
define("MYSQLI_USER", "sprintboard");
define("MYSQLI_PASS", "sprintboard");
define("MYSQLI_DB", "sprintboard");

/* ------------------------------------------------- */
define("ROOT", dirname(__FILE__));
define("LIBROOT", ROOT . "/libs/");
define("CONTROLLERROOT", ROOT . "/controllers/");
define("MODELROOT", ROOT . "/models/");
define("VIEWROOT", ROOT . "/views/");
/* ------------------- Autoloader ------------------ */
function agilesprintboard_autoload($class) {
	$classfile = $class . ".inc";
	$libFile = LIBROOT . $classfile;
	$controllerFile = CONTROLLERROOT . $classfile;
	$modelFile = MODELROOT . $classfile;
	$viewFile = VIEWROOT . $classfile;
	if (file_exists($libFile)) {
		require_once ($libFile);
	} elseif (file_exists($controllerFile)) {
		require_once ($controllerFile);
	} elseif (file_exists($modelFile)) {
		require_once ($modelFile);
	} elseif (file_exists($viewFile)) {
		require_once ($viewFile);
	}
}
spl_autoload_register("agilesprintboard_autoload");